/* Elementos basicos de html */
body {
	background-position: center top;
}

p {
	text-align: justify;
}

/* Estrutura principais */

/*
 * Cabe�alho
 */
.cabecalho {
	color: #ffffff;
	background-image: url(../../images/background_header.gif);
	background-repeat: repeat-x;
	width: 100%;
}

.cabecalho .titulo {
	height: 7%;
}

.titulo div {
	height: 7%;
}

.cabecalho .titulo h1.logo {
	background: url(../../images/logo.gif) no-repeat;
	width: 179px;
	height: 7%;
	text-indent: -999px;
	overflow: hidden;
	margin-left: 10px;
}

.cabecalho .titulo h2.logo {
	background: url(../../images/siiac.gif) no-repeat;
	text-indent:-999px;
	height: 7%;
	overflow: hidden;
	margin-left: 10px;
	color: White;
	font-style: italic;
	font-size: large;
	font-family: inherit;
	font-weight: bold;
	text-decoration: none
}

.cabecalho h2 {
	padding: 13px 0;
	overflow: hidden;
}

.cabecalho .saudacao {
	height: 35px;
	_margin-bottom:-2px; /*Eliminar a linha branca entre a saudação e o menu (IE6)*/
}

.cabecalho .saudacao span {
	font-size: 11px;
	padding: 10px 0;
}

#menu {
	background-color: #E5E9F4;
}

#formMenuPrincipal {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Elemetos skin richface com classe sobrescrita*/
.rich-button {
	background-color: #496EA8;
	background-image: none;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9FB2D0;
	border-right-color: #2C4E8C;
	border-bottom-color: #1B3B7B;
	border-left-color: #7490BC;
	padding: 2px 3px 2px 3px;
	height: 20px;
	min-width: 80px;
	*width: 80px;
}

.rich-button-cinza {
	color: black;
	background-color: #ECECEC;
	border: 1px solid #9A9A9A;
}

/*Classes para o componente rich:calendar*/
.header {
	font-weight: bold;
}

.rich-calendar-header {
	text-align: center;
}

.organizer-cell {
	width: 130px;
	height: 90px;
	overflow: hidden;
}

.rel-hol .organizer-cell {
	font-weight: bold;
}

.rich-calendar-days {
	font-weight: bold;
}

/*rich:panel - a fonte padr�o dele � Arial*/
.dr-pnl-h {
	font-family: Verdana, sans-serif;
}

/*
rich:toolBar
	Barra que contem o menu. A maior quantidade de modifica��es .
	O rich:toolBar deve ser colocada com a styleClass customToolBarMenu 
	para ter o visual do menu
	
	Ex.:
	<rich:toolBar styleClass="customToolBarMenu">
*/
.customToolBarMenu {
	font-family: Futura Normal, Verdana, sans-serif;
	background: #eaebf0;
	border: none;
	height: 23px;
	overflow: hidden;
}

.customToolBarMenu div {
	background: #E5E9F4;
	border: none;
}

.customToolBarMenu * {
	font-weight: normal;
}

.customToolBarMenu .rich-menu-item,.customToolBarMenu .rich-menu-group {
	height: 23px;
	padding: 7px 15px 0px 0px;
}

.rich-menu-list-bg {
	
}
/*Remove espa�o (imagem) na frente do item do subnivel*/
.dr-menu-icon {
	display: none;
}

/*
		Colocar a borda direita no item de menu trocar depois para um item interno para n�o ocupar toda a vertical
		Se der qualquer tipo de problema para o elemento interno usar uma immagem de fundo alinhada a direita (aten��o para a imagem de hover)
		*/
.customToolBarMenu .dr-toolbar-int {
	border-right: 0px;
}

.customToolBarMenu .rich-toolbar-item:hover {
	/* isso so funciona no Firefox
			background:url(images/menu-hover-bf.gif);*/
	
}

.customToolBarMenu  .rich-ddmenu-label-unselect .rich-menu-item {
	border-bottom: 1px solid #d0d6e7;
	padding: 7px 40px 0 5px;
}
/*Bordas subnivel*/
.customToolBarMenu  .rich-ddmenu-label-select .rich-menu-item {
	border-bottom: 1px solid #d0d6e7;
	padding: 7px 40px 0 5px;
}

/*Imagem de fundo do item selecionado no subnivel*/
/* AS CLASSES ABAIXO FORAM COMENTADAS DEVIDO A UM PROBLEMA DE APARENCIA ENTRE FF E IE6
		.customToolBarMenu .rich-menu-item-hover,
		.customToolBarMenu .rich-menu-group-hover{
			background:#e5e6eb;
		}
		.customToolBarMenu .rich-menu-item-enabled{
			background:#e5e6eb;
		}
		
		.customToolBarMenu .rich-menu-item-enabled,
		.customToolBarMenu .rich-menu-group-enabled{
			padding:7px 40px 0 5px;
		}
		
		.customToolBarMenu .rich-menu-item-label{
			width:100%;
			height:23px;
			border:none;
			background:transparent;
		}
		
		.customToolBarMenu .rich-menu-group-enabled .dr-menu-label{
			padding:3px 0 0 0;
			width:100%;
			border:none;
			background:transparent;
			border-right:2px solid #d0d6e7;
		}
		
		.customToolBarMenu .rich-label-text-decor{
			border-right:2px solid #d0d6e7;		
		}

		.customToolBarMenu .dr-label-text-decor {
			width:100%;
			height:23px;
			border:none;
			background:transparent;
			margin-top:2px;
		}

		.customToolBarMenu .rich-menu-list-strut{
			display:none;
		}

		.customToolBarMenu .dr-menu-label-select,
		.customToolBarMenu .rich-ddmenu-label-select
		{
			width:100%;
			height:23px;
			border:none;
			background:transparent;

		}

		.customToolBarMenu .dr-menu-label-unselect{
			padding:3px 5px;
		}
		
		.customToolBarMenu .dr-menu-label-unselect,
		.customToolBarMenu .rich-ddmenu-label-unselect
		{
			width:100%;
			height:23px;
			border:none;
			background:transparent;

		}

		.customToolBarMenu .rich-menu-group-folder{
			background:url(images/menu-mais.gif);
		}*/

/*Corpo do sistema*/
.corpo {
	background: #ffffff;

}

/*Rodape do sistema*/
.rodape {
	background-image: url(../../images/footer.gif);
	background-repeat: repeat-x;
	height: 30px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.rodape span {
	padding: 3px 0px 4px 0px;
	font-size: 11px;
	display: block;
}

/* 
	Classes gen�ricas que podem ser usadas em 'qualquer' elemento 
	Os nomes indicam a funcao.
*/
.borda-inferior {
	border-bottom: 1px solid #ff0000;
}

.transparent-80 {
	filter: alpha(opacity =   80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.transparent-40 {
	filter: alpha(opacity =   40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

/*Espa�os gen�ricos*/
.esquerda-5 {
	margin-left: 5px;
}

.esquerda-10 {
	margin-left: 10px;
}

.esquerda-15 {
	margin-left: 15px;
}

.esquerda-20 {
	margin-left: 20px;
}

.esquerda-25 {
	margin-left: 25px;
}

.dia-habilitado {
	
}
/* TESTES PARA APARENCIA DO MENU NO IE6 E FF
.customToolBarMenu { padding:0 !important; }
.customToolBarMenu .rich-menu-item-enabled, .customToolBarMenu .rich-menu-group-enabled {padding:0 !important; }
.rich-menu-item, .rich-menu-group {padding:0 !important; }
.rich-menu-item-enabled, .rich-menu-group-enabled { padding:0 !important; }
.customToolBarMenu .rich-menu-item-enabled, .customToolBarMenu div { background:none !important; }
.customToolBarMenu .rich-menu-item, .customToolBarMenu .rich-menu-group { height:auto !important; padding:0 !important; }
.customToolBarMenu .dr-label-text-decor { height: auto !important; margin-top: 0 !important; }
.customToolBarMenu .rich-menu-item-enabled { background:none !important; }
.customToolBarMenu .dr-menu-label-unselect, .customToolBarMenu .rich-ddmenu-label-unselect { height: auto !important;  padding:0 !important; }
		.customToolBarMenu .dr-menu-label-select,
		.customToolBarMenu .rich-ddmenu-label-select
		{ height: auto !important; }
		
		
div.dr-menu-label.rich-ddmenu-label.dr-menu-label-unselect.rich-ddmenu-label-unselect .rich-menu-list-bg { background-color:red !important; }	*/
.panel-login {
	width: 600px;
	height: 450px;
	text-align: left;
	margin-top: 0em;
	margin-right: auto;
	margin-bottom: -1px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-image: url("../../images/bg_box_login_fim.gif");
    background-position: left top;
    background-repeat: no-repeat;
}

.panel-erro {
	width: 500px;
	height: 215px;
	text-align: left;
	margin-top: 0em;
	margin-right: auto;
	margin-bottom: -1px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #E5E9F4;
}

.panel-login-title {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 24px;
	color: #012c94;
	padding: 0;
	font-weight: bold;
}

.panel-login-label {
	float: right;
	font-size: 12px;
    color: #315A88;
    font-family: Verdana,Geneva,sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0 5px 0 0;
	padding: 0;
	line-height: 15px;
}

.panel-login-description {
	font-size: 11px;
	color: #002884;
	font-family: Verdana,Geneva,sans-serif;
	font-weight: bold;
	line-height: 21px;
	float: right;
	vertical-align: right;
	width: 100%;
}

.panel-login-button {
	background: url("../../images/background/bg_botoes_formulario.jpg") repeat-x scroll center center transparent;
    border: 1px solid #B0C8E3;
    border-collapse: collapse;
    color: #315A88;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding: 3px 15px;	
}
.input_form {
	color: #666666;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	border: 1px solid #707e89;
}
div.body{
	height: expression(this.scrollHeight <= '435' ? '435' : 'auto');
	min-height: 450px; /* para ff, safari, chrome, etc */
}