/**
 * Este CSS é dividido nas seguintes seções:
 * Reset 
 * Principais Elementos
 * Cabecalho
 * Corpo
 * Rodape
 * Blocos de Conteúdo
 * Plugins 
 */

/**
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212 
CSS RESET
TODO: fazer
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse;border-spacing: 0; }

/**
 * Principais Elementos
 */ 
body { background-color: #FFFFFF; font-family: Arial; margin: 0px auto; padding: 0px; text-align: center; }
#principal { text-align: left; }
.carregando { border: solid 1px black; background: url('../images/loading.gif') 5px center no-repeat #FFFFBE; border: solid 1px #E0E030; padding: 5px; padding-right: 20px; font-size: 14px; text-align: left; padding-left: 25px; width: 75px; }

/**
 * Cabecalho
 */
#cabecalho { background: center top no-repeat #FFF; display: table; margin: auto; position: relative; width: 774px; }
/* Titulo Sistema */
#tituloSistema { background: #FFFFFF  repeat-x top left; }
#tituloSistema h1 { background: repeat-x top left; color: #002884; margin-top: 0px; text-align: left; font-size: 1.4em; font-weight: bold; padding: 0px 0px 10px 100px; }
/* Navegacao */
#navegacao { background: url('../images/hr_bg.gif') left top repeat-x #D2DEFB; height: 30px; font-size: 10pt; padding-right: 5px; text-align: right; }
#navegacao h3 { display: block; }
/*#linkVoltar, #linkSair {  }*/
#navegacao a { color: #FFF; font-weight: bold; line-height: 27px; padding: 0 0.25em; text-decoration: none; }
#navegacao a:hover { color: #F0F0F0; text-decoration: underline; }
/* Metadados */
#metadados { background: url(../images/infoicon.gif) no-repeat right 3px; float: left; position: relative; }
#metadados h3 { display: none; }
#metadados ul { background: #FFFFBE; border: solid 1px #E0E030; font-size: 9pt; left: 0; margin-top: 20px; min-width: 150px; position: absolute; top: 0; text-align: left; visibility: hidden; z-index: 9999;}
#metadados_ul { background: #FFFFBE; border: solid 1px #E0E030; font-size: 9pt; left: 0; margin-top: 20px; min-width: 150px; position: absolute; top: 0; text-align: left; visibility: hidden; z-index: 9999;}
#metadados ul li, #metadados_ul li { padding: 0.25em; }
#metadados ul li h4, #metadados_ul li h4 { float: left; margin: 0px; margin-right: 3px; padding: 0px; }
#metadados ul li h4:after, #metadados_ul li h4:after { content: ":"; }
#metadados a, #metadados_ul a { color: #202020; cursor: help; font: 9pt/18px verdana; margin: 0 0.25em; padding: 0.25em; padding-right: 20px; text-decoration: none; outline: none; }
/* Ajuda */
#ajuda { text-align: right; padding-bottom: 5px; background: #D2DEFB; z-index: 99999; }
#ajuda h3 { display: none; }
#ajuda a { background: url(../images/ajudaicon.gif) no-repeat right 3px; color: #202020; cursor: help; font: 9pt/18px verdana; margin: 0 0.25em; padding: 0.25em; padding-right: 20px; text-decoration: none; outline: none; }
#ajuda a:hover { text-decoration: underline; }
#ajuda div { background: #FFFFBE; border: solid 1px #E0E030; font-size: 0.9em; line-height: 15px; _left: 0px; margin: 5px; padding: 0.5em; position: absolute; text-align: left; top: 185px; visibility: hidden; width: 750px; display: block; z-index: 9999; }
#ajuda_div { background: #FFFFBE; border: solid 1px #E0E030; font-size: 0.9em; line-height: 15px; _left: 0px; margin: 5px; padding: 0.5em; position: absolute; text-align: left; top: 185px; visibility: hidden; width: 750px; display: block; z-index: 9999; }

/**
 * Corpo
 */
#corpo { background: #D2DEFB; margin: auto; text-align: left; width: 774px; }
/* Titulo da página */
#corpo h2 { color: #002884; font-size: 1.2em; float: left; margin: 15px; _margin: 0px 0px -120px 0px; _padding-top: 10px; _padding-left: 15px; }
/* Mensagem */
#mensagem { background: url('../images/exclamacao.png') left center no-repeat #FFF; border: solid 1px #BFCAE7; color: #333; font-size: 12px; line-height: 30px; margin: 5px; margin-top: 0px; padding: 0.5em; padding-left: 35px; text-align: left; }
#mensagem h3 { display: none; }
#mensagem.mensagem { /* estilizar aqui */ }
#mensagem.sucesso {/* estilizar aqui */}
#mensagem.falha {/* estilizar aqui */}
#mensagem.erro {/* estilizar aqui */}
/* Conteudo */
#conteudo { border-top: solid 2px #5274BC; padding: 0; width: 774px; padding-top: 40px; }

/**
 * Rodape
 */
#rodape { background: url('../images/rodape.gif'); clear: both; font: 9pt arial; height: 32px; margin: 0px auto; text-align: center; width: 774px; }
#rodape h3 { display: none; }
#rodape p { padding-top: 1em; }

/**
 * Blocos de Conteúdo
 */
/* Formulario */
#conteudo form { background-color: #FFFFFF; margin: 0.0 em; margin-bottom: 0px; }
#conteudo form h3 { display: none; }
#conteudo form fieldset { padding-top: 40px; position: relative; }
#conteudo form fieldset span.separacao {color: #666;float:left;clear:left;padding-left:14px;padding-bottom:0px;padding-top:25px;font-weight:bold;}
#conteudo form fieldset legend { color: #002884; font-size: 14px; font-weight: bold; line-height: 32px; margin: 0px; padding: 0px; padding-left: 10px; position: absolute; left: 0px; top: 0px; right: 0px; }
#conteudo form fieldset legend span { background: url('../images/rodape.gif') repeat-x top left #FFF; display: block; left: 0px; _left: -7px; right: 0px; padding-left: 0.5em; position: absolute; _width: 100.4%; }
#conteudo form fieldset label { color: #666; clear: left; display: block; font-size: 0.7em; font-weight: bold; margin: 0; padding: 0.5em 0; width: 100%; }
#conteudo form fieldset label::after { content: ":"; }
#conteudo form fieldset label.obrigatorio::before { color: red; content: "* "; }
#conteudo form fieldset input[type="text"],
#conteudo form fieldset select,
#conteudo form fieldset textarea { }
#conteudo form fieldset input[readonly=readonly] { background: #CCC;}
#conteudo form fieldset ul { }
#conteudo form fieldset ul { float:left; }
#conteudo form fieldset ul li { margin: 5px; margin-left: 15px; }
#conteudo form fieldset.submit { padding: 0.5em; margin-top: 2px;}
#conteudo form fieldset.submit legend { display: none; }
#conteudo form fieldset.submit input { background: url(../images/fundo_btn.png); border: solid 1px #7593D7; color: white; font-size: 11px; font-weight: bold; margin-left: 10px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
fieldset.submit input { background: url(../images/fundo_btn.png); border: solid 1px #7593D7; color: white; font-size: 11px; font-weight: bold; margin-left: 10px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

/* Componente de multipla escolha */
#conteudo form fieldset ul li ul { margin-left: 10px; }
#conteudo form fieldset ul li ul li { margin: 0px; padding: 0px; }
#conteudo form fieldset ul li ul li label { display: inline; margin: 0px; padding: 0px; }
#conteudo form fieldset ul li ul li label::after { content: ''; }
/* Mensagem de carregando */
#msgAguarde { border: solid 1px black; position: absolute; background: url('../images/loading.gif') 5px center no-repeat #FFFFBE; border: solid 1px #E0E030; padding: 5px; padding-left: 25px; font-size: 14px; }
.coluna{ float:left;}
.colunaD{ float:left;clear:left;}
/* Critérios de busca */
div.criterios { font-size: 0.8em; }
div.criterios h4 { display: none; }
div.criterios ul { padding: 0.25em; }
div.criterios ul li { padding: 2px;}
div.criterios ul li h5 { float: left; margin-right: 5px; }
div.criterios ul li h5:after { content: ":"; }
div.criterios ul li span.valor {}

/* Listagem Simples */
ul.listagem, ol.listagem {}
ul.listagem li, ol.listagem li {}
/* Listagem em tabela */
table.listagem { font-size: 0.8em; width: 100%; }
table.listagem caption { background: #4C69AF; border-bottom: solid 1px #EBEFFA; color: #FFF; font-weight: bold; padding: 0.5em; }
table.listagem thead tr th, table.tablesorter tfoot tr th { /* nao estilizar aqui */ }
table.listagem thead tr th { background: #CFD5E5; border: solid 2px WHITE; border-collapse: collapse; color: #002884; padding: 0.25em; }
table.listagem thead tr th:last-child { border-right: none;}
table.listagem tbody tr.par td { background-color: white; }
table.listagem tbody tr.impar td { background-color: #D2DEFB; }
table.listagem tbody tr td { padding: 0.25em; }
table.listagem tfoot tr td { border-top: solid 2px #4C69AF; }
table.listagem tfoot tr td input[type=submit],
table.listagem tfoot tr td input[type=buttom] { margin: 10px 0px 10px 10px; background: url(../images/fundo_btn.png); color: white; font-weight: bold; border: solid 1px #7593D7; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 0.75em; }
table.listagem tfoot tr td input[type=image] { margin: 10px 0px 10px 10px; }
/* Listagem em tabela selecionavel */
table.selecionavel {}
table.selecionavel tbody tr.hover td { background-color: #AABBDD; cursor: pointer; }
/* Listagem em tabela ordenavel */ 
table.ordenavel {}
table.ordenavel thead tr th { background: url(../images/ascdesc.gif) no-repeat center right #4C69AF; cursor: pointer; }
table.ordenavel thead tr .header { cursor: pointer; }
table.ordenavel thead tr .headerSortUp { background-image: url(../images/asc.gif); }
table.ordenavel thead tr .headerSortDown { background-image: url(../images/desc.gif); }
table.ordenavel thead tr .headerSortDown,
table.ordenavel thead tr .headerSortUp { background-color: #8dbdd8; }
/* A paginação de uma tabela */
table.listagem tfoot input.paginacao { margin: 0px; background: white; color: black; font-weight: normal; border: solid 1px #7593D7; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; font-size: 11px; width: 25px;}
table.listagem tfoot tr.paginacao { padding: 0px 5px; }
table.listagem tfoot tr.paginacao td { text-align: left; padding: 5px; }
table.listagem tfoot tr.paginacao div.pagina { float: left; height: 20px; }
table.listagem tfoot tr.paginacao div.pagina a { padding: 0px 2px; display: block; width: 16px; height: 16px; float: left; margin: 3px; }
table.listagem tfoot tr.paginacao div.pagina a:hover { }
table.listagem tfoot tr.paginacao div.pagina a.primeiro { background: url('../images/tabela/seta_primeiro.gif') top left no-repeat; }
table.listagem tfoot tr.paginacao div.pagina a.anterior { background: url('../images/tabela/seta_anterior.gif') top left no-repeat; }
table.listagem tfoot tr.paginacao div.pagina input.paginacao { float: left; margin: 2px 5px; }
table.listagem tfoot tr.paginacao div.pagina a.proximo { background: url('../images/tabela/seta_proximo.gif') top left no-repeat; }
table.listagem tfoot tr.paginacao div.pagina a.ultimo { background: url('../images/tabela/seta_ultimo.gif') top left no-repeat; }
table.listagem tfoot tr.paginacao div.info { text-align: right; line-height: 20px;}
table.listagem tfoot tr.paginacao div.info span.total { }

/* Detalhamento */
div.detalhamento { font-size: 0.8em; margin: 0.75em 0.75em 0 0.75em; z-index: 1;}
div.detalhamento ul li { background: white; border: solid 1px #A0AFCB; border-collapse: collapse; position: relative; margin-top: -1px;}
div.detalhamento h4 { width: 160px; margin: 0; padding: 0.5em; position: absolute; top: 0px; _top: 3px; left: 0px;}
div.detalhamento div.valorCampo { margin-left: 200px; border-left: solid 1px #A0AFCB; padding: 0.5em; }
div.detalhamento h3 { margin-left: 0px; padding: 0.5em; background: #3D62B3; color: #FFF; font-size: 11pt; }
div.detalhamento ul li:nth-child(2n) { background: #EFF3FD; }
div.detalhamento table.listagem { font-size: 1em; }

/**
 * Plugins
 */
/** Css da listagem de sugestoes */
#listaSugestoes { text-align: left; border: solid 1px #909090; background: #FFF; position: absolute; width: 200px; }
#listaSugestoes li { padding: 0.25em; cursor: pointer; _width: 100%; }
#listaSugestoes li:hover { }
#listaSugestoes li.carregando span { background: url('../images/loading.gif') center right no-repeat; cursor: wait; font-style: italic; display: block; line-height: 20px; margin-right: 3px; }
.carregando img { border: solid 1px black; }
#listaSugestoes li.nenhum { cursor: default; font-style: italic; font-size: 0.8em; }
#listaSugestoes .selecionado { background-color: #E0E0E0; }



/* Validation Engine */
.formError { position:absolute;	top:300px; left:300px; padding-bottom:13px; display:block; z-index:5000;}
#debugMode{background:#000;position:fixed;width:100%; height:200px;top:0; left:0;overflow:scroll;opacity:0.8;display:block;padding:10px;color:#fff;font-size:14px;z-index:100000;}
.ajaxSubmit{ padding:20px; background:#55ea55;border:1px solid #999;display:none}
.formError .formErrorContent {width:100%;background:#ee0101;color:#fff;width:250px;font-family:tahoma;font-size:11px;border:2px solid #ddd;box-shadow: 0px 0px 6px #000;-moz-box-shadow: 0px 0px 6px #000;-webkit-box-shadow: 0px 0px 6px #000;padding:4px 10px 4px 10px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.greenPopup .formErrorContent {background:#33be40;}
.blackPopup .formErrorContent {background:#393939;color:#FFF;}
.formError .formErrorArrow{position:absolute;bottom:0;left:20px;width:15px; height:15px;z-index:5001;}
.formError .formErrorArrowBottom{top:0;margin:-6px;}
.formError .formErrorArrow div{border-left:2px solid #ddd;border-right:2px solid #ddd;box-shadow: 0px 2px 3px #444;-moz-box-shadow: 0px 2px 3px #444;-webkit-box-shadow: 0px 2px 3px #444;font-size:0px; height:1px; background:#ee0101;margin:0 auto;line-height:0px; font-size:0px; display:block;}
.formError .formErrorArrowBottom div{box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
.greenPopup .formErrorArrow div{background:#33be40;}
.blackPopup .formErrorArrow div{background:#393939;color:#FFF;}
.formError .formErrorArrow .line10{width:15px;border:none;} 
.formError .formErrorArrow .line9{width:13px;border:none;} 
.formError .formErrorArrow .line8{width:11px;} 
.formError .formErrorArrow .line7{width:9px;} 
.formError .formErrorArrow .line6{width:7px;} 
.formError .formErrorArrow .line5{width:5px;} 
.formError .formErrorArrow .line4{width:3px;} 
.formError .formErrorArrow .line3{width:1px;border-left:2px solid #ddd;border-right:2px solid #ddd;border-bottom:0px solid #ddd;} 
.formError .formErrorArrow .line2{width:3px;border:none;background:#ddd;}
.formError .formErrorArrow .line1{width:1px;border:none;background:#ddd;}


/* menu styles */
#menu { }
ul.menuh { margin: 0; padding: 0; height: 17px; background: #D2DEFB; font-size: 9pt; border-top: 2px solid #5274BC; }
ul.menuh li { margin: 0px; padding: 0px; width: 148px; float: left; list-style: none; border-right: 2px solid #5274BC; background: #D2DEFB; } /* .subv  */
ul.menuh ul.menuv { display: none; position: absolute; margin-left: -1px; }
ul.menuh ul.menuv ul { left: 150px; _left: 160px; }
ul.menuh a { font-weight: bold; padding: 2px 5px 3px 5px; display: block; text-decoration: none; color: #000000; _width: 100%; }
ul.menuh li a:hover { color: #D2DEFB; background-color: #009; }
ul.menuh a.setah { background: transparent url('../images/menu/seta_submenu_h.gif') 136px center no-repeat; _background-position: 145px center; }
ul.menuv a.setav { background: transparent url('../images/menu/seta_submenu_v.gif') 136px center no-repeat; _background-position: 145px center; }
ul.menuv, ul.menuv ul { margin: 0; padding: 0; border: 0; width: 150px; background: #D2DEFB; border-top: solid 1px #5274BC; }
ul.menuv li { position: relative; list-style: none; border: 0px; background-color: #D2DEFB; }
ul.menuv li a { display: block; position: relative; text-decoration: none; border: solid 1px #5274BC; border-top: none; color: #000; padding: 2px 5px 3px 5px; width: 138px; _width: 148px; z-index: 100000;}
/* Fix IE. Hide from IE Mac \*/
* html ul.menuv li { float: left; height: 1%; }   
* ul.menuv li a { height: 1%; }
/* End */
ul.menuv ul { position: absolute; z-index: 10000; display: none; left: 149px; top: -1px; }            
ul.menuv li.submenu ul { display: none;}
ul.menuv a.seta { background: transparent url(images/indicador-submenu-2.gif) right center no-repeat; }            
ul.menuv li a:hover { color: #fff; background-color: #009; }



/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
	.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget { font-family: segoe ui, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: segoe ui, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #eeeeee url(jquery/ui/images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #cccccc; background: #f9f9f9 url(jquery/ui/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png) 50% 50% repeat-x; color: #e69700; font-weight: bold; }
.ui-widget-header a { color: #e69700; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #ffffff; background: #1484e6 url(jquery/ui/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) 50% 50% repeat; font-weight: bold; color: #ffffff; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #2293f7; background: #2293f7 url(jquery/ui/images/ui-bg_diagonals-thick_26_2293f7_40x40.png) 50% 50% repeat; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #e69700; background: #e69700 url(jquery/ui/images/ui-bg_diagonals-thick_20_e69700_40x40.png) 50% 50% repeat; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #ffffff; background: #c5ddfc url(jquery/ui/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png) 50% 50% repeat; color: #333333; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #333333; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #e69700; background: #e69700 url(jquery/ui/images/ui-bg_diagonals-thick_20_e69700_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-icon { width: 16px; height: 16px; background-image: url(jquery/ui/images/ui-icons_0a82eb_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(jquery/ui/images/ui-icons_0a82eb_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(jquery/ui/images/ui-icons_5fa5e3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(jquery/ui/images/ui-icons_fcdd4a_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(jquery/ui/images/ui-icons_ffffff_256x240.png); }
.ui-state-active .ui-icon {background-image: url(jquery/ui/images/ui-icons_ffffff_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(jquery/ui/images/ui-icons_0b54d5_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(jquery/ui/images/ui-icons_ffffff_256x240.png); }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; border: solid 1px red}
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
.ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-right {  -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-widget-overlay { background: #e6b900 url(jquery/ui/images/ui-bg_flat_0_e6b900_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: 6px 0 0 6px; padding: 0px; background: #e69700 url(jquery/ui/images/ui-bg_flat_0_e69700_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
/* Datepicker ----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; font-size: 12px}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-cover {display: none;display/**/: block;position: absolute;z-index: -1;filter: mask();top: -4px;left: -4px;width: 200px;height: 200px;}

.rich-calendar-input {font-size:11px;font-family: Arial}
.rich-input {font-size:11px;font-family: Arial;border-bottom:1px solid #c4c8cf;border-right:1px solid #c4c8cf;margin-bottom:3px;}
.dr-sdt-tmplbox {display:block;float:left;position:absolute;text-align:center;}
