/* CSS Document */
/************************************************
  				Global Reset
 ***********************************************/	

 
.total	{
	width:100%;
	} 
 
.topbg	{
	background-image: url(../images/background_header.gif);
	background-repeat: repeat-x;
	height:88px;
	background-color: #e5e9f4;
	padding-bottom: 2px;
}

/******************************************************
  				Logo
*****************************************************/

.name_system {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	letter-spacing: -1em;
}
.status{
	color: #FFF;
	
	}
.exit {
	text-align: right;
	color: #FFF;
	}


.menubg	{
	height:33px;
	width:100%;
	margin:0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-color: #e5e9f4;
	}

.sliderbg	{
	width:100%;	
	height:344px;
	padding-bottom:10px;
	
	}

.midbox	{
	height:100%;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0;
}

		.smallbox {
	height:100%;
	margin:0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 1px;
	padding-left: 0;
			}

			.smallbox ul {
				margin:20px 0 10px 20px;
				padding:0;
				}

			.smallbox li	{
				background:url(../images/bullet.gif) left 50% no-repeat;
				margin:0;
				padding:2px 2px 0 25px;
				color:#000;
				list-style-type:none;
				float:left;
				width:45%;
				}

.imgborder	{
	padding:3px;
	border:1px solid #dadada;
	}
/******************************************************
  				Footer
******************************************************/

.footer_bg	{
	width:100%;
	overflow:hidden;
	height:100%;
	color:#FFFFFF;
	background-image: url(../images/footer.gif);
	background-repeat: repeat-x;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
	}
		
.footer li {
		margin:0;
		display:block;
		padding:4px 5px 4px 0px;
		text-decoration:none;
		}

.footer li a {
		margin:0;
		color:#c3c3c3;
		padding:4px 5px 4px 0px;
		text-decoration:none;

		}

.footer li a:hover {
			margin:0;
			color:#7a7a7a;
			text-decoration:none;
			padding:4px 5px 4px 0px;
			}			
			
.text{
	padding-top:3px;
	padding-left: 38%;


}


/******************************************************
				Contact Form
******************************************************/

.contactform form, 
#contactform form ul {
	color:#000000;
	padding-left: 0px;
	margin-left: -10px;
	}

	.contactform ul li {
	background:#f9fcfd;
	border:1px solid #dbeaf1;
	list-style-type:none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
		} 

		.contactform ul li:hover {
			border:1px solid #b9d3de; 
			} 

.contactform label {
	width:120px;
	padding-left:0px;
	left: 5px;
	}

.inputbox {
	width: 30%;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 15px;
	}

.alignnome {
	text-align: left;
		}

.tbodycolor{
	background-color: #eff3f8;
	color: #000000;
	}
	
.tbodybloco{
	background-color: #8497c3;
	color: #000000;
	}
.tbodyitem{
	background-color: #b4c3e6;
	color: #000000;
	
	}
.tbodyapontamento{
	background-color: #eff3f8;
	color: #000000;
	
	}
.pages{
	color: #002884;
	font-weight: bold;
	padding-left: 33%;
}
/******************************************************
  				 Buttons
******************************************************/
.button1{
	background-color: #496ea8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #2c4e8c;
	border-bottom-color: #1b3b7b;
	border-left-color: #7490bc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin-right: 7px;
	margin-left: 7px;
	height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
#status {
	margin-top: 10px;
	margin-bottom: 5px;
}

.button2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
	background-color: #ececec;
	border: 1px solid #9a9a9a;
	height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 7px;
	margin-bottom: 7px;
}
.buttonexit{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	background-color: #7596e1;
	height: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #7490bc;
	border-bottom-color: #1b3b7b;
	border-left-color: #2c4e8c;
	vertical-align: middle;
	text-align: center;
}
.salvar{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
	background-color: #ff8e38;
	border: 1px solid #ff8e38;
	height: 19px;
	font-weight: bold;
}
.button4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
	background-color: #496ea8;
	height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #2c4e8c;
	border-bottom-color: #1b3b7b;
	border-left-color: #7490bc;
	padding-top: 2px;
	padding-bottom: 3px;
}

/******************************************************
  				 Calend�rio
******************************************************/
#calendar{
	border:1px solid #dbeaf1;
}
#calendar tr td{
	border:1px solid #dbeaf1;
	}
.estagiario{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	
	}
.bolder{
	font-weight: bold;
	color: #000;
	margin-left: 5px;
	margin-right: -5px;
}
.spacer{
	margin-bottom: 10px;
}
.btlegenda{
	text-align: right;
	}


.botao{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #496ea8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #2c4e8c;
	border-bottom-color: #1b3b7b;
	border-left-color: #7490bc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin-right: 7px;
	height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	float: none;
	margin-top: 7px;
}
.img_alinha {
	align:right;	
}
.dadosprincipais {
	color: #002884;
	font-weight: bold;
}
.select {
	border: 1px solid #38599c;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	height: 19px;
}
.contentop {
	padding-top: 15px;
	padding-bottom: 10px;
}

/************************************************
  				CSS CRUD
 ***********************************************/
  .forms_posicao{
	width: 20px;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select10{
	width: 10%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select20{
	width: 20%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select30{
	width: 30%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select40{
	width: 40%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select50{
	width: 50%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select60{
	width: 60%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select70{
	width: 70%;
	height: 19px;
	border: 1px solid #38599c;}
	
.forms_select77{
	width: 77%;
	height: 19px;
	border: 1px solid #38599c;}	
	
 .forms_select80{
	width: 80%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select90{
	width: 90%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_select100{
	width: 100%;
	height: 19px;
	border: 1px solid #38599c;}
	
	
 .forms_textarea{
	width: 100%;
	height: 80px;
	border: 1px solid #38599c;
}
	
 .forms_input10{
	width: 10%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input20{
	width: 20%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input30{
	width: 30%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input40{
	width: 40%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input50{
	width: 50%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input60{
	width: 60%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input70{
	width: 70%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input80{
	width: 80%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input90{
	width: 90%;
	height: 19px;
	border: 1px solid #38599c;}
	
 .forms_input100{
	width: 100%;
	height: 19px;
	border: 1px solid #38599c;}
	
.selectbox {
	border:1px solid #dbeaf1;
	list-style-type:none;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 3px;
	margin-left: 0;
	background-color: #f2f4f9;
		} 

.selectbox:hover {
			border:1px solid #b9d3de; 
			} 
			
.espaco{
	clear:both !important;
	display: block;
	height: 2%;
}
	.total .container_12 .grid_12 .midbox .midbox .selectbox div table tbody tr td span {
}
.bt_azul {
	background-color: #333;
}
.total .container_12 .grid_12 .midbox .midbox .selectbox div {
	text-align: right;
	display: block;
}
.total .container_12 .grid_12 .midbox .midbox .selectbox #divproduto table tbody tr td span {
	text-align: center;
	display: block;
}
.divbutton {
	text-align: right;
	display: block;
}

.divbotao{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #496ea8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #2c4e8c;
	border-bottom-color: #1b3b7b;
	border-left-color: #7490bc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin-right: 10px;
	height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	float: none;
	margin-top: 7px;
}

.total .container_12 .grid_12 .midbox div table tbody tr td span {
	text-align: center;
	display: block;
}
.legendas {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 1px;
	color: #5F7CC1;
}
#cadastrar{
	text-align: right;
	margin-top: 10px;
	padding-top: 5px;
}
.align_span {
	text-align: center;
	display: block;
}

/******************************************************
  				SECTION
 ******************************************************/

.checklist {
	background-color: #eff3f8;
	height: 25px;
}
.checklist_branco {
	background-color: #FFFFFF;
	height: 25px;
}
.input_observacao {
	width: 210px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
	border: 1px solid #38599c;
	height: 20px;
}
.observa_hide {
	padding-bottom: 15px;
	padding-top: 10px;
}
.clear {
	padding-top: 5px;
	padding-bottom: 5px;
}
.total .container_12 #sucesso p {
	text-align: center;
	font-weight: bold;
}

.color {
	height: auto;
	background-color: #eff3f8;
}


/******************************************************
  				Optimized
 ******************************************************/
 #sucesso {
	text-align: center;
	background-color: #eceff6;
	height: 90px;
	border: 1px solid #d8dce8;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #002a8c;
}

.nomesistema {
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1px px 0 #fff;
	padding-top: 16px;
	height: 38px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	margin-top: 3px;
	margin-bottom: 7px;
}#breadcrumb {
	color: #5f7cc1;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	height: 20px;
}
#salvar {
	text-align: right;
}
.bold {
	font-weight: bold;
}
#cadastro {
	text-align: left;
	padding-bottom: 8px;
	padding-top: 6px;
	margin-top: 2px;
}
.btn_cadastrar {
	background-color: #496ea8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9fb2d0;
	border-right-color: #2c4e8c;
	border-bottom-color: #1b3b7b;
	border-left-color: #7490bc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}.mostrar_checklist     {
	font-size: 10px;
	font-weight: normal;
	color: #666;
	vertical-align: middle;
}

.popup {
	width: 700px;
}

#mask {position:absolute;
z-index:9000;
background-color:transparent;
display:none;
}
 
#boxes .window {
color:#00000;
position:absolute;
width:440px;
height:400px;
display:none;
z-index:9999;
padding:20px;
background-color:#F2F4F9;
border:1px solid #dbeaf1;

}
 
/* Personalize a janela modal aqui. Voc� pode adicionar uma imagem de fundo. */
#boxes #dialog {
width:780px;
height:500px;

}

/* posiciona o link para fechar a janela */
.close {
display:block;
text-align:right;
}

th div a:HOVER {
	color: #002884 !important;
	text-decoration: none !important;
}


