<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0-ea" class="java.beans.XMLDecoder">
 <object class="br.com.amaterasu.model.Config">
  <void property="caminhoCatalogMaven">
   <string>D:\Maykon\Plataforma Amaterasu\Core\apache-maven-3.0.4</string>
  </void>
  <void property="caminhoMaven">
   <string>D:\Maykon\Plataforma Amaterasu\Core\apache-maven-3.0.4\bin</string>
  </void>
  <void property="caminhoRepoMaven">
   <string>D:\Maykon\Plataforma Amaterasu\Core\apache-maven-3.0.4\repository</string>
  </void>
  <void property="so">
   <object class="java.lang.Enum" method="valueOf">
    <class>br.com.amaterasu.model.Config$SO</class>
    <string>WIN</string>
   </object>
  </void>
 </object>
</java>
