<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>SIIAC</display-name>
 <!-- Parâmetros da aplicação -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/app-config.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.LIBRARIES</param-name>
  <param-value>/WEB-INF/facelets.taglib.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.REFRESH_PERIOD</param-name>
  <param-value>-1</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.SKIN</param-name>
  <param-value>skin-cef</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING</param-name>
  <param-value>enabled</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.SKIN</param-name>
  <param-value>skin-cef</param-value>
 </context-param>
 <!-- Registro dos filtros -->
 <filter>
  <display-name>Ajax4jsf Filter</display-name>
  <filter-name>ajax4jsf</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
 </filter>
 <filter>
  <filter-name>AuthFilter</filter-name>
  <filter-class>br.gov.caixa.siiac.controller.filter.AuthFilter</filter-class>
 </filter>
 <filter>
  <filter-name>DomainFilter</filter-name>
  <filter-class>br.gov.caixa.siiac.controller.filter.DomainFilter</filter-class>
 </filter>
 <!-- Mapeamento dos filtros -->
 <filter-mapping>
  <filter-name>ajax4jsf</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>DomainFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- Registro dos listeners -->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>br.gov.caixa.siiac.util.AgendadorTarefas</listener-class>
 </listener>
 <listener>
  <listener-class>br.gov.caixa.siiac.controller.listeners.SessionListener</listener-class>
 </listener>
 <!-- Registro dos servlets -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <!-- Tempo de expiração da session -->
 <session-config>
  <session-timeout>90</session-timeout>
 </session-config>
 <!-- Página de boas vindas -->
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <!-- Paginas de erro customizadas -->
 <error-page>
  <error-code>403</error-code>
  <location>/erro403.xhtml</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/jsp/login/login.jsf</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/erro.jsf</location>
  <auth-constraint>
   <role-name>1</role-name>
   <role-name>2</role-name>
   <role-name>3</role-name>
   <role-name>4</role-name>
   <role-name>5</role-name>
   <role-name>6</role-name>
   <role-name>7</role-name>
   <role-name>8</role-name>
   <role-name>9</role-name>
  </auth-constraint>
 </error-page>
 <!-- FILTROS DE PAGINA POR PERFIL -->
 <security-constraint>
	<display-name>Segurança Mínima</display-name>
	<web-resource-collection>
		<web-resource-name>Sistema</web-resource-name>
		<url-pattern>/jsp/index.jsf</url-pattern>
	</web-resource-collection>
	<auth-constraint>
		<role-name>1</role-name>
		<role-name>2</role-name>
		<role-name>3</role-name>
		<role-name>4</role-name>
		<role-name>5</role-name>
		<role-name>6</role-name>
		<role-name>7</role-name>
		<role-name>8</role-name>
		<role-name>9</role-name>
	</auth-constraint>
</security-constraint>
	<security-constraint>
		<display-name>Apontamento</display-name>
		<web-resource-collection>
			<web-resource-name>Apontamento</web-resource-name>
			<url-pattern>/jsp/apontamento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Bloco checklist</display-name>
		<web-resource-collection>
			<web-resource-name>Bloco checklist</web-resource-name>
			<url-pattern>/jsp/bloco_checklist/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Item Verificacao</display-name>
		<web-resource-collection>
			<web-resource-name>Item Verificacao</web-resource-name>
			<url-pattern>/jsp/item_verificacao/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Preferencia Usuario</display-name>
		<web-resource-collection>
			<web-resource-name>Preferencia Usuario</web-resource-name>
			<url-pattern>/jsp/preferencia_usuario/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
			<role-name>2</role-name>
			<role-name>3</role-name>
			<role-name>4</role-name>
			<role-name>5</role-name>
			<role-name>6</role-name>
			<role-name>7</role-name>
			<role-name>8</role-name>
			<role-name>9</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Produto</display-name>
		<web-resource-collection>
			<web-resource-name>Produto</web-resource-name>
			<url-pattern>/jsp/produto/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Produto Usuario</display-name>
		<web-resource-collection>
			<web-resource-name>Produto Usuario</web-resource-name>
			<url-pattern>/jsp/produto_usuario/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
			<role-name>2</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Restricao</display-name>
		<web-resource-collection>
			<web-resource-name>Restricao</web-resource-name>
			<url-pattern>/jsp/restricao/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Servico produto</display-name>
		<web-resource-collection>
			<web-resource-name>Servico produto</web-resource-name>
			<url-pattern>/jsp/servico_produto/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Servico Verificacao</display-name>
		<web-resource-collection>
			<web-resource-name>Servico Verificacao</web-resource-name>
			<url-pattern>/jsp/servico_verificacao/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Cadastro Usuário</display-name>
		<web-resource-collection>
			<web-resource-name>Cadastro Usuário</web-resource-name>
			<url-pattern>/jsp/usuario/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
			<role-name>2</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Cadastro Garantia</display-name>
		<web-resource-collection>
			<web-resource-name>Cadastro Garantia</web-resource-name>
			<url-pattern>/jsp/garantia/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
			<role-name>2</role-name>
			<role-name>3</role-name>
			<role-name>4</role-name>
			<role-name>5</role-name>
			<role-name>6</role-name>
			<role-name>7</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Cadastro Template Parecer</display-name>
		<web-resource-collection>
			<web-resource-name>Cadastro Template Parecer</web-resource-name>
			<url-pattern>/jsp/template_parecer/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Log Parecer</display-name>
		<web-resource-collection>
			<web-resource-name>Log Parecer</web-resource-name>
			<url-pattern>/jsp/log/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Cadastro Template Notificacao</display-name>
		<web-resource-collection>
			<web-resource-name>Cadastro Template Notificacao</web-resource-name>
			<url-pattern>/jsp/template_notificacao/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Agenda Verificacao</display-name>
		<web-resource-collection>
			<web-resource-name>Agenda Verificacao</web-resource-name>
			<url-pattern>/jsp/agenda/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>2</role-name>
			<role-name>3</role-name>
			<role-name>8</role-name>
			<role-name>9</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Categoria Produto</display-name>
		<web-resource-collection>
			<web-resource-name>Categoria Produto</web-resource-name>
			<url-pattern>/jsp/categoria_produto/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>SIIACdomain</realm-name>
		<form-login-config>
			<form-login-page>/jsp/login/login.jsf</form-login-page>
			<form-error-page>/erroLogin.jsf</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>GESTOR_SISTEMA</description>
		<role-name>1</role-name>
	</security-role>
	<security-role>
		<description>REGIONAL_CONFORMIDADE</description>
		<role-name>2</role-name>
	</security-role>
	<security-role>
		<description>VERIFICADOR_CONFORMIDADE</description>
		<role-name>3</role-name>
	</security-role>
	<security-role>
		<description>GESTOR_PRODUTO</description>
		<role-name>4</role-name>
	</security-role>
	<security-role>
		<description>UNIDADE_ATENDIMENTO</description>
		<role-name>5</role-name>
	</security-role>
	<security-role>
		<description>AUDITOR</description>
		<role-name>6</role-name>
	</security-role>
	<security-role>
		<description>CENTRAL_ATENDIMENTO_SUPORTE</description>
		<role-name>7</role-name>
	</security-role>
	<security-role>
		<description>VERIFICADOR_NACIONAL</description>
		<role-name>8</role-name>
	</security-role>
	<security-role>
		<description>VERIFICADOR_REGIONAL</description>
		<role-name>9</role-name>
	</security-role>
</web-app>
